@import "tailwindcss";

@theme {
  --color-primary: #F05578;
  --color-primary-hover: #E94D71;
  --color-primary-soft: #FEE7EC;

  --color-bg-main: #FDF8F8;
  --color-card-border: #F2E9E9;

  --color-txt-main: #2A2340;
  --color-txt-muted: #9E8A8C;

  --color-low-bg: #EAF6EE;
  --color-low-txt: #5C9B73;

  --color-mid-bg: #FFF4DD;
  --color-mid-txt: #D79B2E;

  --color-high-bg: #FDE8EC;
  --color-high-txt: #E25B76;

  --color-purple-soft: #C89BFF;
  --color-blue-soft: #8AB6FF;
  --color-pink-soft: #F8A7B8;
}

@layer base {
  body {
    font-family: 'Outfit', 'Inter', sans-serif;
    background-color: var(--color-bg-main);
    color: var(--color-txt-main);
    @apply antialiased tracking-tight;
  }
}